
.duration {
    position: relative;
    width: 650px;
    height: 55px;
    overflow: hidden;
    border: 1px solid green;
    -webkit-user-select: none;
    cursor: default;
}

.slider {
    position: relative;
    margin: 5px 25px;
    height: 5px;
    background-color: #eee;
    cursor: pointer;
}
.range {
    width: 0;
    height: 5px;
    background-color: cadetblue;
    cursor: pointer;
}

.handle {
    position: absolute;
    top: -3px;
    left: 0;
    width: 9px;
    height: 12px;
    background-color: aquamarine;
    cursor: pointer;
}

.ruler {
    position: absolute;
    left: 0px;
    width: 4800px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ruler:after {
    display: table;
    content: ' ';
    clear: both;
}

.ruler > li {
    float: left;
    width: 50px;
}

.serif {
    text-align: center;
}

.number {
    text-align: center;
    font-size: 16px;
}

.measure {
    text-align: center;
}

.mins0 {
    color: #006;
}

.mins15, .mins30, .mins45 {
    color: #36f;
}
